body {
    position: absolute;
    font-family: Helvetica, Arial, sens-serif;
    font-size: 15px;
}

textarea {

    height: 110%;
}

a {
    font-size: 25px;
    color: #333;
}

hr {
    width: 500px;
    border-bottom: 3px solid #666;
}

.col-md-12 {
    margin-top: 20px;
}

div {
    display: block;
}

.error {
    color: red;

}

.subject {
      width: 60%
}

button {
    display: block;
    border-radius: 2px;
    background-color: #6caee0;
    color: #ffffff;
    font-wright: bold;
    border: 0;
    margin: 20px 0px 10px 150px;
    cursor: pointer;
}
