<!DOCTYPE html>
    <html>
        <head>
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="/static/main.css">
            <title>Signup</title>
        </head>
    <body>
        <div class="container">
            <form class="col-md-12" method="post">
                <div class="col-md-12">
                    <h1 class="text-center">Signup</h1>
                    <hr />
                </div>
                <div class="col-md-12 text-center">
                    <label>
                        <span>Username</span>
                        <input type="text" name="username" value="{{username}}">
                    </label>
                    <div class="col-md-12 text-center">
                            <label>
                                {{error_username}}
                            </label>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <label>
                        <span>Password</span>
                        <input type="password" name="password" value="{{password}}">
                    </label>
                    <div class="col-md-12 text-center">
                            <label>
                                {{error_password}}
                            </label>
                    </div>
                    <div class="col-md-12 text-center">
                        <label>
                            <span>Verify PW</span>
                            <input type="password" name="verify" value="{{verify_password}}">
                        </label>
                        <div class="col-md-12 text-center">
                            <label>
                                {{error_verify}}
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <label>
                            <span>Email(optional)</span>
                            <input type="text" name="email" value="{{email}}">
                        </label>
                        <div class="col-md-12 text-center">
                            <label>
                                {{error_email}}
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button class="center-block" type="submit">Signup</button>
                    </div>
                </div>

            </form>
            <!--<form class="form-class" method="post">-->
                <!--<div class="form-white-background">-->
                        <!--<div class="form-title-row">-->
                            <!--<h1>Signup</h1>-->
                            <!--<hr/>-->
                        <!--</div>-->
                        <!--<div class="form-row">-->
                            <!--<label>-->
                                <!--<span>Username</span>-->
                                <!--<input type="text" name="username" value="{{username}}">-->
                                <!--<label>-->
                                    <!--<span>-->
                                        <!--{{error_username}}-->
                                    <!--</span>-->
                                <!--</label>-->
                            <!--</label>-->
                        <!--</div>-->
                        <!--<div class="form-row">-->
                            <!--<label>-->
                                <!--<span>Password</span>-->
                                <!--<input type="password" name="password" value="{{password}}">-->
                            <!--</label>-->
                            <!--<label>-->
                                <!--<span>-->
                                     <!--{{error_password}}-->
                                <!--</span>-->
                            <!--</label>-->
                        <!--</div>-->
                        <!--<div class="form-row">-->
                            <!--<label>-->
                                <!--<span>Verify Password</span>-->
                                <!--<input type="password" name="verify" value="{{verify_password}}">-->
                            <!--</label>-->
                            <!--<label>-->
                                <!--<span>-->
                                     <!--{{error_verify}}-->
                                <!--</span>-->
                            <!--</label>-->
                        <!--</div>-->
                        <!--<div class="form-row">-->
                            <!--<label>-->
                                <!--<span>Email(optional)</span>-->
                                <!--<input type="text" name="email" value="{{email}}">-->
                            <!--</label>-->
                        <!--</div>-->
                        <!--<div class="form-row">-->
                            <!--<button type="submit">Sign up</button>-->
                        <!--</div>-->
                    <!--</div>-->
            <!--</form>-->
        </div>
    </body>

</html>
